<div class="list-group">
    <a href="javascript:void(0);" class="list-group-item active">
        <h4 class="list-group-item-heading">Next steps to take payments.</h4>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <span class="glyphicon glyphicon-credit-card"></span> 
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <h5 class="list-group-item-heading">Take a card payment</h5>
                    <p class="list-group-item-text">Plug in your card reader and take a $1 card payment.Swiped payments cost just 2.65% for all card types including American Express.</p>
                </div>
            </div>
        
        </div>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <span class="glyphicon glyphicon-hand-up"></span> 
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <h5 class="list-group-item-heading">Take a card payment without a reader</h5>
                    <p class="list-group-item-text">Accept a payment by keying in a car number.Manually entered payments cost 3.4% + 15c for all acrd types.</p>
                </div>
            </div>
        
        </div>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <span class="glyphicon glyphicon-home"></span> 
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <h5 class="list-group-item-heading">Link your bank account</h5>
                    <p class="list-group-item-text">Connect your account for all your location so we can send you your money.You can accept payments before you bank account is verfied.</p>
                </div>
            </div>
        
        </div>
    </a>
    <a href="javascript:void(0);" class="list-group-item">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <span class="glyphicon glyphicon-volume-up"></span> 
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <h5 class="list-group-item-heading">Get free processing</h5>
                    <p class="list-group-item-text">Refer your friends to Royals and earn points and rewards.</p>
                </div>
            </div>
        
        </div>
    </a>
</div>
